.logo_line{
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #F00;
	background-color:#FFF;
}
.container_style{
	background-color:#FFF;
	margin-top:10px;
	margin-bottom:10px;
	}
.row_style{
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-left:1px;
	margin-right:1px;
	}
.row_style1{
	margin-left:5px;
	margin-right:5px;
	margin-top:20px;
	padding:5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-color:#FFF2DF;
	}
.mycontainer{
	margin: 5px;
	border: thin solid #CCC;	
	}
.order_title_choose{
	background-color:#F00;
	color:#FFF;
	padding:5px;
	text-align:center;
	}
.order_title_unchoose1{
	background-color: #CCC;
	color: #000;
	padding: 5px;
	border-right-width: medium;
	border-left-width: medium;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-left-color: #FFF;
	text-align:center;
	}
.order_title_unchoose2{
	background-color:#CCC;
	color:#000;
	text-align:center;
	padding:5px;}
.top_title{
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #CCC;
	text-align:center;
	}
#click_link a:link{
	color:#F0000; 
	text-decoration:none;
	}
#click_link a:visiteid { 
	background-color:#CCCCCC;
	color:#FF0000; 
	text-decoration:none; 
	} 
#click_link a:hover{color:#565656; 
text-decoration:underline; } 
#click_link a:active {
} 
.link_text{
	text-decoration:none;
	color:#666;
	text-align:center;
	font-size:12px;
	font-weight:lighter;
}
.info_text{
	text-align:center;
	padding-top:20px;}
.price_text{
	color:#F00;
	text-align:center;}
.conclusion_text{
	color:#666;}
.conclusion_text_price{
	font-size:20px;
	font-weight:bold;
	color:#F00;}
.setelement{
	background-color:#F00;
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	}
#click_link1 a:link{
	color:#F0000; 
	text-decoration:none;
	}
#click_link1 a:visiteid { 
	background-color:#CCCCCC;
	color:#FF0000; 
	text-decoration:none; 
	} 
#click_link1 a:hover{color:#FFF; 
font-size:25px;
text-decoration:none; 
background-color:#F00;} 
#click_link1 a:active {
} 
#click_link2 a:link{
	color:#FF6F6F; 
	text-decoration:none;
	}
#click_link2 a:visiteid { 
	background-color:#CCCCCC;
	color:#F00; 
	text-decoration:none; 
	} 
#click_link2 a:hover{color:#FF6F6F; 
text-decoration:none; 
font-weight:bold} 
#click_link2 a:active {
} 
.guess{
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D8D8D8;
	border-bottom-color: #D8D8D8;
	border-left-color: #D8D8D8;	
	}
.mythumb{
	width:200px; 
	margin-bottom:-5px;
	margin-left:7px;
	margin-right:7px;
	padding:5px;
	}
.basic_info{
	margin-left:10px;
	margin-top:10px;
	}
.basic_info_text{
	font-size:14px;
	color:#333;
	font-weight:600
	}
.row_head{
	padding-left:10px;
	padding-top:10px;
	border-bottom:#999 solid 3px;
	}
.invoice_text{
	margin-left:70px; 
	margin-top:5px; 
	margin-bottom:5px; 
	font-size:12px;
	}
.row_product_info{
	color: #848484;
	text-align: center;
	margin-left: 1px;
	margin-right: 10px;
	padding: 5px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.row_product_summarize{
	margin-left: 1px;
	margin-right: 10px;
	margin-top:10px;
	padding: 5px;
}